.todoList{
    text-align: center;
    font-family:italic ;
    color: gray;

}
.container{
    width:400px;
    height: 400px;
    background: gainsboro;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
    opacity: 0.5;
    overflow-x:hidden;
}

.write{
    width: 300px;
    border: none;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    left: 39px;
    top: 25px;
    font-family:italic;
    
}

.list{
    padding: 10px;
    color: gray;
    list-style-type:none;
    position: relative;
    left: 39px;
    top: 25px; 
      
}

  .delete {
    border: none;
    opacity: 0.5;
    position: relative;
    left: 260px;
    bottom: 25px;
    display: none; 
    
  }
  

.list li:hover .delete {
    display: block; 
    cursor: pointer;
    height: 0px;
  }
.tarea{
    position: absolute;
    left: 50px;    
  }
